body {
  margin: 0;
  font-family: Courier New;
    font-size: 11px;
  background: #171717;
  color: #888888;
text-align: justify;
 text-shadow: 1px 2px 2px #000000;
}

.top-bar, footer {
  background: #990000;
  color: #C0C0C0;
 text-shadow: 1px 2px 2px #000000;
  text-align: center;
  font-family: Georgia;
    font-size: 12px;  
 font-style: italic;
padding: 5px;
  letter-spacing: 2.5px;
}

.banner {
  text-align: center; /* centraliza dentro da div */
  background: #171717; /* opcional, fundo */
}

.banner img {
  display: block;
  margin: 0 auto; /* centraliza */
  max-width: 100%; /* mantém responsivo */
  height: auto;
}

.menu {
  display: flex;
  justify-content: center;
background-color: transparent;
color: #C0C0C0;
 text-shadow: 1px 2px 2px #000000;
  font-family: Georgia;
    font-size: 12px;  
  padding: 10px;
  gap: 10px;
}

.menu a {
  background: #990000;
  padding: 8px 16px;
  border-radius: 20px;
color: #C0C0C0;
 text-shadow: 1px 2px 2px #000000;
  font-family: Georgia;
    font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 5px #000;
}

.menu a:hover {
  background: #121212;
color: #B91A1A;
 text-shadow: 1px 2px 2px #000000;
  font-family: Georgia;
    font-size: 11px;
 font-style: italic;

}

main {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #888888;
 text-shadow: 1px 2px 2px #000000;
  font-family: Courier New;
text-align: justify;
    font-size: 11px; 
  letter-spacing: 1.5px;
}


.intro {
  background: #121212;
  padding: 20px;
  border-left: 3px solid #990000;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #000;
text-align: center;
}

.intro img {
  width: 140px;        /* ajuste o tamanho que preferir */
  height: 140px;       /* igual à largura para ficar quadrado */
  object-fit: cover;   /* corta para caber certinho no quadrado */
  border-radius: 6px;  /* opcional: cantos arredondados */
  display: block;
}

.conteudo {
  background: #121212;
  padding: 11px;
  margin-bottom: 20px;
}

.conteudo img {
  width: 120px;
  display: block;
  margin-top: 10px;
}

.contato {
  color: #888888;
  background: #111;
  padding: 20px;
text-align: center;
  font-family: Courier New;
    font-size: 11px; 
  border-left: 3px solid #990000;
  box-shadow: 2px 2px 5px #000;
}

.icones img {
  width: 30px;
  margin: 5px;
}